.vs/
x64/
Dependencies/
Minecraft.sln
Minecraft/Vendor/
Minecraft/x64/

Minecraft/Minecraft.vcxproj
Minecraft/Minecraft.vcxproj.filters
Minecraft/Minecraft.vcxproj.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app